* {
  box-sizing: border-box;
}
#nav {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.left-link .book {
  background-color: rgb(177, 2, 2);
}
#bk {
  color: #fff;
}
.left-link .sign {
  border-left: 1px solid #ccc;
}
#carouselExampleCaptions {
  position: relative;
  height: 70vh;
  width: 100%;
  top: 80px;
}
#carouselExampleCaptions img {
  height: 520px;
}
.carousel-caption h5 span {
  font-size: 18px;
}
.carousel-caption h5 {
  margin-top: -250px;
  margin-left: -250px;
  font-size: 74px;
  font-family: serif;
}
.carousel-caption p {
  font-size: 44px;
  font-family: serif;
}
.ihotel {
  position: relative;
  top: 185px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ihotel p {
  text-align: center;
}
.availlable {
  width: 90%;
  height: 120px;
  margin-left: 5%;
  box-shadow: 3px 2px 3px #979494, -3px 2px 3px #777575;
  background: rgb(255, 255, 255);
  position: absolute;
  top: -50px;
  z-index: 2;
  border-radius: 5px;
  display: flex;
}
.availlable .d h3 {
  font-size: 14px;
}
.availlable .d input {
  border: none;
  width: 100px;
  padding-left: 10px;
}
.availlable .d {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #a7a1a1;
}
.number div {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adults {
  border-bottom: 1px solid #a7a1a1;
}
.number {
  padding: 10px;
}
.adults p {
  text-align: center;
  margin-left: 20px;
  font-size: 14px;
}
#counter {
  width: 40px;
  padding-left: 10px;
}
.counter-btn {
  border-radius: 5px;
  color: red;
  border: 1px solid orangered;
}
.availlability {
  background: rgb(177, 2, 2);
  color: #fff;
  user-select: none;
  cursor: pointer;
}
.room-box {
  width: 90%;
  margin-left: 5%;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 3px #ece5e5, -5px -5px 3px #faf7f7;
}
.room-box h5 {
  position: absolute;
  top: 80%;
  font-weight: bolder;
  color: #fff;
  font-size: 28px;
}
.rooms {
  position: relative;
  top: 120px;
  width: 100%;
  display: flex;
}
#res {
  background: rgb(177, 2, 2);
  margin-top: 50px;
}
.services {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 80px;
  background: #ccc;
}
.services-info {
  text-align: center;
}
.services-gallery {
  width: 100%;
  height: 250px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.img-box {
  border-radius: 5px;
  width: 24%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ddd;
  background: #dfd5d5;
  box-shadow: 2px 3px 2px #ddd;
}
.img-box img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
  height: 80%;
}
.rooms-h {
  width: 100%;
  height: 90vh;
  padding: 30px;
  position: relative;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.room-img {
  width: 100%;
}
.room-img img {
  height: 300px;
  width: 95%;
  border-radius: 5px;
}

.room-img h5 {
  position: relative;
  top: -150px;
  left: 10%;
  font-size: 28;
  font-weight: bolder;
  color: #fff;
  text-shadow: 3px 3px 3px #302f2f;
}
.room-img button {
  position: relative;
  top: -170px;
  left: 10%;
  cursor: pointer;
  transition: 0.5 ease-out;
}
.rooms-imgs {
  display: flex;
}
.amenities {
  width: 100%;
  height: 90vh;
  padding: 50px;
  position: relative;
  top: 100px;
  text-align: center;
}
.amenities-box {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.amenity {
  width: 20%;
  height: 150px;
  align-items: center;
  justify-content: center;
}
.amenity img {
  width: 80%;
  height: 80%;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid rgb(177, 2, 2);
}
#footer {
  background: #979494;
}
